/* Case Studies section */
.case-studies {
    padding: 40px;
    text-align: center;
}

.case-studies h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.subtitle, .description {
    font-size: 1.1em;
    color: #aaa;
}

.study {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.study img {
    width: 40%;
    object-fit: cover;
}

.study-content {
    max-width: 50%;
    padding: 30px;
}

.study-content h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.work-title {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #999;
}

.study-description {
    font-size: 1em;
    margin-bottom: 25px;
    color: #aaa;
}

.view-study {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.view-study:hover {
    color: #e6b800;
}
